* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

header {
  padding: 10px;
}

.trybewarts-header-logo {
  height: 60px;
}

#trybewarts-header-title {
  color: whitesmoke;
}

form.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

form#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}

.name-container {
  display: flex;
  flex-wrap: wrap;
}

.name-container input {
  flex-grow: 1;
}

#label-family {
  margin: 10px 0;
}

.radio-input label {
  margin-left: 1rem;
}

.radio-input:hover {
  cursor: pointer;
}
