* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

header {
  padding: 10px;
}

.trybewarts-header-logo {
  height: 60px;
}

#trybewarts-header-title {
  color: whitesmoke;
}

form.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

form#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}
